<section class="toolbar">
  <div class="toolbar__content">
    <div class="email">
      <span class="icon">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </span>
      hello&#64;mamelloeng.tech</div>
    <div class="social-media-links">
      <!-- TO DO: Add social media links -->
      <span class="social-media-link"><i class="fa fa-instagram" aria-hidden="true"></i></span>
      <span class="social-media-link"><i class="fa fa-pinterest" aria-hidden="true"></i></span>
    </div>
  </div>
</section>
