/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); //p

* {
    padding: 0;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
